<head>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/edit_remove.css">
</head>

<div class="container">
    <div class="road" style="margin: 10px 0 0 15px;">
        <i class="fa-solid fa-house"></i>
        <a href="/home" style="text-decoration: none; color: black">Trang chủ /</a>
        <a href="/home/admin" style="text-decoration: none; color: black">Admin /</a>
        <a href="#" style="text-decoration: none; color: black">Thêm điều khoản /</a>
    </div>
    <form class="add" method="POST" action="/home/admin/store">
        <textarea name="content" id="dgyk" cols="30" rows="10" placeholder="Nhập vào nội dung...." style="max-width: 100%;"></textarea>
        <input type="text" name="summarykey" required placeholder="Nhập vào summaryKey" />
        <input type="text" name="chuong" required placeholder="Nhập vào Chương" />
        <input type="text" name="dieu" required placeholder="Nhập vào Điều" />
        <input type="text" name="muc" required placeholder="Nhập vào Mục" />
        <input type="text" name="khoan" required placeholder="Nhập vào Khoản" />
        <input type="text" name="priceabove" required placeholder="Nhập vào Mức Phạt trên" />
        <input type="text" name="pricebelow" required placeholder="Nhập vào Mức Phạt dưới" />    
        <div class="btn">
            <a href="/home/admin">
                <input style="background-color: rgb(191, 180, 180); cursor: pointer; margin-bottom: 25px; width: 150px" type="button" value="Thoát" />
            </a>
        
            <input style="background-color: rgb(191, 180, 180); cursor: pointer; width: 150px; margin-left: 20px;" type="submit" value="Thêm Văn bản" />
        
        </div>
    </form>
</div>