<head>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/edit_remove.css">
</head>

<div class="container">
    <div class="road" style="margin: 10px 0 0 15px;">
        <i class="fa-solid fa-house"></i>
        <a href="/home" style="text-decoration: none; color: black">Trang chủ /</a>
        <a href="/home/admin" style="text-decoration: none; color: black">Admin /</a>
        <a href="#" style="text-decoration: none; color: black">Thêm điều khoản /</a>
    </div>

    <form class="add" method="POST" action="/home/admin/store">

        <h1 style="margin-bottom: 20px">Thêm điều khoản</h1>
        
        <div class="form-group">
            <label for="summarykey">Từ khóa:</label>
            <textarea type="text" class="form-control" id="summarykey" name="summarykey"  placeholder="Nhập vào từ khóa..."></textarea>
        </div>

        <div class="form-group">
            <label for="content">Nội dung:</label>
            <textarea type="text" class="form-control" id="content" name="content"  placeholder="Nhập vào nội dung..."></textarea>
        </div>

        <div class="form-group">
            <label for="chuong">Chương:</label>
            <input type="text" class="form-control" id="chuong" name="chuong"  placeholder="Nhập vào Chương...">
        </div>

        <div class="form-group">
            <label for="khoan">Khoản:</label>
            <input type="text" class="form-control" id="khoan" name="khoan"  placeholder="Nhập vào Khoản...">
        </div>

        <div class="form-group">
            <label for="dieu">Điều:</label>
            <input type="text" class="form-control" id="dieu" name="dieu"  placeholder="Nhập vào Điều...">
        </div>

        <div class="form-group">
            <label for="muc">Mục:</label>
            <input type="text" class="form-control" id="muc" name="muc"  placeholder="Nhập vào Mục...">
        </div>

        <div class="form-group">
            <label for="priceabove">Mức phạt trên:</label>
            <input type="text" class="form-control" id="priceabove" name="priceabove"  placeholder="Nhập vào Mức Phạt trên...">
        </div>

        <div class="form-group">
            <label for="pricebelow">Mức phạt dưới:</label>
            <input type="text" class="form-control" id="pricebelow" name="pricebelow"  placeholder="Nhập vào Mức Phạt dưới...">
        </div>

        <a style="text-decoration: none;" href="/home/admin">
            <input style="background-color: rgb(191, 180, 180); cursor: pointer; margin-bottom: 25px; width: 150px" type="button" value="Thoát"/>
        </a>
        
        <input style="background-color: rgb(191, 180, 180); cursor: pointer; width: 150px; margin-left: 20px;" type="submit" value="Thêm Văn bản"/>     
    </form>
</div>